main .Div_Principal h1{
  width: 100%;
  background-color: rgb(46, 59, 88);
  padding: 1.2rem;
  color: white;
  font-size: 22px;
  text-align: center;
}
main .Div_Principal{
  margin-bottom: 1rem;
}

.responsiveImageContainer {
width: 50%; 
max-width: 800px; 
height: auto;
}

/* HISTÓRIA */
.historia {
  display: flex;
  align-items: center;
  text-align: justify;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}
.historia p {
  font-size: 18px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 20px;
}

.historia .imagem {
  margin-left: 20px;
}
.historia img {
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 20px;
  width: 400px;
  height: 400px;
  object-fit: cover;
}
.historia img:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
.historia {
  display: flex;
  flex-direction: column; 

}.historia img{
  width: 300px;
  height: 300px;
}
}

/* ADVOGADOS */
.advogado {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}
.advogado:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}
.advogado img {
  border-radius: 50%;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.informacoes {
  flex: 1;
}
.informacoes h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.informacoes p {
  margin-bottom: 10px;
  font-size: 16px;
  color: #666;
  text-align: justify;
}
.informacoes ul {
  margin-top: 10px;
  padding-left: 20px;
}
.informacoes li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #666;
}
@media (max-width: 600px) {
  .advogado {
    display: flex;
    flex-direction: column; 

  }
}


/* CONTATO */

.contatoleft,
.contatoright {
flex: 1 1 300px;
padding: 20px;
}
.contatoinput::placeholder,
.contatotextarea::placeholder {
color: rgb(134, 134, 134);
}
.contatoleft {
border-right: 1px solid #ddd;
}
.contatoinput:focus,
.contatotextarea:focus {
  border: 2px solid rgb(0, 0, 231);
  background-color: white;
  color: black;
  outline: none;
}
.contatoright {
display: flex;
flex-direction: column;
}

.contatoform {
display: flex;
flex-direction: column;
}

.contatolabel {
margin: 10px 0 5px;
}

.contatoinput,.contatotextarea {
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ddd;
border-radius: 5px;
}

.contatobutton {
padding: 10px;
border: none;
background-color: #007bff;
color: white;
border-radius: 5px;
cursor: pointer;
}

.contatobutton:hover {
background-color: #0056b3;
}

@media (max-width: 768px) {
  .contatoleft {
  border-right: none;
  border-bottom: 1px solid #ddd;
}
}