.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 0.5rem;
    background-color: #f0f0f0;
  }
  
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #464646;
    margin-top: 2rem;
  }

  .LoginTitle{
    color:white;
    margin-right: 70%;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .inputGroup {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 10vh;
    background-color: rgb(46, 59, 88);
    border-radius: 5px;
  }
   
  .input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 10px;
    color: #fff;
    margin-top: 10px;
  }
  
  .buttonSubmit {
    background-color: #0187a7;
  }

  .buttonEsqueciSenha {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    color: #fff;
    margin-bottom: 20px;
  }

  .checkboxContainer{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    align-items: center;
    margin: 0 auto;
    color: #fff;
    display: flex;
    margin-left: 0px;
  }